.order-success {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px; /* Увеличиваем ширину окна */
    margin: 100px auto;
    animation: fadeIn 0.5s ease-in-out;
}

.order-success h2 {
    font-size: 28px; /* Увеличиваем размер заголовка */
    font-weight: bold;
    color: #d01c1c;
    margin-bottom: 20px; /* Увеличиваем отступ снизу */
}

.order-success p {
    font-size: 25px; /* Увеличиваем размер текста */
    color: #555;
    margin-bottom: 20px; /* Увеличиваем отступ снизу */
}

/*  */

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}