.profile-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f7a1c4;
  transition: all 0.2s ease;
}

.profile-button:hover {
  transform: scale(1.1);
  color: #dc7f9b;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #e0b7b7;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 1000;
}

.profile-dropdown li {
  padding: 6px 16px;
  list-style: none;
  font-size: 13px;
  color: #2f2f2f;
}

/* .profile-dropdown li:hover {
  background-color: #fce4ec;
} */

.profile-dropdown button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 6px 16px;
  font-size: 13px;
  color: #2f2f2f;
  cursor: pointer;
}

.profile-dropdown button:hover {
  transform: scale(1.1);
  color: #dc7f9b;
}

.profile-dropdown .user-info {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.profile-dropdown .user-info li {
  font-size: 14px;
  padding: 8px 16px;
}

.profile-dropdown .nav-link {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 14px;
  padding: 8px 12px;
  display: block;
  transition: background-color 0.2s ease;
}

.profile-dropdown .nav-link:hover {
  transform: scale(1.02);
  color: #2f2f2f;
}


/* .profile-dropdown .nav-link:hover {
  background-color: #fce4ec;
} */

.profile-button-container {
  position: relative;
}

.profile-button-container .logout-button {
  width: 80%;
  margin: 8px auto;
  padding: 8px 16px;
  font-size: 13px;
  color: #2f2f2f;
  background: #dc7f9b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
}

.profile-button-container .logout-button:hover {
  background-color: #dc7f9b;
  color: #2f2f2f;
  transform: scale(1.02);
}
