.manage-products-page {
    margin-left: 50px;
    margin-right: 50px;
}

.manage-products-header {
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.products-container .product-tile-link {
    pointer-events: none;
}

.products-container .product-tile {
    pointer-events: all;
}

.product-tile {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    height: 280px;
}

.product-tile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.product-img-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Keeps image aspect ratio consistent */
    overflow: hidden;
}

.product-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 16px;
    flex-grow: 1; /* Make the product info grow and fill the available space */
    display: flex;
    flex-direction: column;
}


.product-tile-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    /* border: 1px solid red; */
    height: 37px;
}

.product-tile-price {
    font-size: 16px;
    margin-bottom: 0;
}

.product-tile-rating {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.star {
    color: #ffc107;
    font-size: 20px;
    margin-right: 3px;
}

.rating {
    font-size: 16px;
   
}

.price-and-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}

.product-actions{
    display: flex;
    justify-content: center;
    gap:10px;
    width: 250px;
    margin-top: 5px;
}

.product-actions button {
    background-color: #8b575c;
    color: #f4f4f4;
    /* color: white; */
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    
}

.product-actions button:hover {
    background-color: #c98986;
}

